<div class="site-content">
    <footer class="site-footer">
    </footer> <!-- .site-footer -->
    
        <div class="container" style="align :left">         
            <p class="w3-card-3">Copyright &copy; {{year}} Gaurav Chauhan. All rights reserved</p>
        </div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/app.js"></script>

</body>

</html>