{{>header}}
<div class="hero" data-bg-image="images/banner.png">
    <div class="container">
        <form action="/" class="find-location" method="GET">
            <input type="text" name="q" placeholder="Find your location...">
            <input type="submit" value="Find">
        </form>

    </div>
</div>
</div>
{{>footer}}