{{>header}}
<div class="herostart" data-bg-image="images/sky-1365325_1280.jpg">
    <div class="container">
        <form action="/" class="find-location" method="GET">
            <input type="text" name="q" placeholder="Find your location...">
            <br>
            <input type="submit" value="Find">
        </form>
        <div align="center">
        <div class="w3-container">
  				<div class="w3-panel w3-card-4 w3-xxxlarge w3-text-blue w3-animate-fading"><p><strong>{{Message}}</strong></p></div>
  		</div>
  		</div>
    </div>
</div>
</div>
{{>footer}}